astroid==2.3.3
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
Flask==1.1.2
idna==2.10
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==8.1.0
pycryptodome==3.9.9
pyfiglet==0.8.post1
Pygments==2.7.4
pylint==2.4.4
requests==2.25.1
rich==9.10.0
six==1.14.0
soupsieve==2.2
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.11.2
